<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>VANMosaic</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&family=Overpass:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Days+One&family=Exo+2:ital,wght@1,300&family=Overpass:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../public/css/style.css">
  </head>

  <body>
    <header>
      <ul class="header-links">
        <li><a href="/contact">Contact</a></li> <span class="material-symbols-outlined"> contact_support </span>
        <li><a href="/aboutus">About Us</a></li> <span class="material-symbols-outlined"> info </span>
        <li><a href="/search">Search</a></li> <span class="material-symbols-outlined"> search </span>
      </ul>
    </header>

    <div class="van-mosaic">
      <!-- VANMosaic content here -->
      <h1><span class="material-symbols-outlined" style="font-size: 50px;">airport_shuttle</span> VANMosaic </h1>

      <nav class="right-navbar">
        <ul class="navbar-links">
          <li>
            <a href="VANMosaic/views/login.handlebars">Login</a>
          </li>
          <li>
            <a href="VANMosaic/views/login.handlebars">Sign Up</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>